<div id="page-wrapper">
  <!-- HEADER -->
  <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">    
    <!-- Navbar -->
    <nav class="background-white background-transparent-hightlight full-width sticky">
      <div class="l-5 center">
        <a href="index.html" class="logo">
          <!-- LOGO -->
          <img class="logo-before" src="../assets/logo.png" alt="">
        </a>
      </div>
    </nav>
  </header>
  
  <!-- MAIN -->
  <main role="main">
    <!-- Content -->
    <article>
      <!-- Header -->
      <header class="section background-dark">
        <br><br><br><br>
        <!-- Intro buscar Pokémon -->
        <div class="line text-center">        
          <h1 class="text-s-size-13 text-m-size-15 text-l-size-30 text-thin text-line-height-1">¡Encuentra un Pokémon usando su nombre o el número de la Pokédex!</h1>
        </div><br>  
        <!-- Buscador -->
        <div class="buscador input-group text-center">
          <input class="form-control text-l-size-20 text-center" type="text" placeholder="Busca tu Pokémon">
          <button class="btn btn-secondary text-l-size-20" type="button" id="inputGroup-sizing-lg"><i class="fas fa-search"></i></button>
        </div>

        <!-- Ordenar por -->

        <div class="dropdown text-center">
          <br><br>
          <button class="btn btn-warning dropdown-toggle text-l-size-20" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="iconify text-l-size-20" data-icon="mdi:pokeball" data-inline="true"></span>
            Ordenar por
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </header>

      <!-- Portafolio imágenes -->
      <div class="background-primary full-width"><br>
        <div class="s-12 m-6 l-five">
          <a class="image-with-hover-overlay image-hover-zoom" href="/" title="Portfolio Image">
            <div class="image-hover-overlay background-white"> 
              <div class="image-hover-overlay-content text-center padding-2x">
                <h3 class="text-size-20 margin-bottom-10">Bulbasaur</h3>
                <h5 class="text-size-14 margin-bottom-20">Nº 001</h5>  
                <button type="button" class="btn btn-success btn-sm" disabled>Planta</button>
                <button type="button" class="btn btn-info btn-sm" disabled>Veneno</button>
                <!-- <button type="button" class="btn btn-secondary btn-sm" disabled>Volador</button> -->
                <!-- <button type="button" class="btn btn-warning btn-sm" disabled>Fuego</button> -->
                <!-- <button type="button" class="btn btn-outline-success btn-sm" disabled>Bicho</button> -->
                <!-- <button type="button" class="btn btn-danger btn-sm" disabled>Dragón</button> -->
                <!-- <button type="button" class="btn btn-primary btn-sm" disabled>Eléctrico</button> -->
                <!-- <button type="button" class="btn btn-outline-info btn-sm" disabled>Hada</button> -->
                <!-- <button type="button" class="btn btn-outline-success btn-sm" disabled>Bicho</button> -->
                <!-- <button type="button" class="btn btn-outline-success btn-sm" disabled>Lucha</button> -->



              </div> 

            </div> 
            <img class="full-img background-white" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt=""/>
          </a>	
        </div>      
      </div>  
    </article>
  </main>
  
  <!-- FOOTER -->
  <footer>
    <!-- Contact Us -->
    <div class="background-dark padding text-center footer-social">
      <a class="margin-right-10" target="_blank" href="https://es-la.facebook.com/Pokemon/"><i class="icon-facebook_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">FACEBOOK</span></a>
      <a class="margin-right-10" target="_blank" href="https://twitter.com/pokemon?lang=es"><i class="icon-twitter_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">TWITTER</span></a>
      <a class="margin-right-10" target="_blank" href="https://www.instagram.com/pokemon/?hl=es-la"><i class="icon-instagram_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">INSTAGRAM</span></a>                                                                    
    </div>

    <!-- Main Footer -->
    <section class="section-small-padding text-center background-dark full-width">
      <div class="line">
        <div class="margin">
          <!-- Collumn 1 -->              
          <div class="s-12 m-12 l-4 margin-m-bottom-30">
            <h3 class="text-size-16">Ubicación</h3>
            <p class="text-size-14">
               Responsive Carrera 7<br>
               Bogotá<br> 
               Colombia
            </p>               
          </div>
          <!-- Collumn 2 -->
          <div class="s-12 m-12 l-4 margin-m-bottom-30">
            <h3 class="text-size-16">E-mail</h3>
            <p class="text-size-14">
               contact@pokemon.com<br>
               pokedex@pokemon.com
            </p>              
          </div>
          <!-- Collumn 3 -->
          <div class="s-12 m-12 l-4 ">
            <h3 class="text-size-16">Teléfono</h3>
            <p class="text-size-14">
               0800 4521 800 50<br>
               0450 5896 625 16<br>
            </p>             
          </div>
        </div>
      </div>  
    </section>
    <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 0, 0, 0.80);">
    
    <!-- Bottom Footer -->
    <section class="padding background-dark full-width">
      <div class="text-center">
        <p class="text-size-12">Copyright 2021, Vision Design</p>
      </div>
    </section>
  </footer>
</div>